#breadcrumbs, #showItem {
    margin: 10px 10vw;
}
#showItem {
    margin-top: 25px;
}
#showItem p {
    line-height: 150%;
}
#showItem img {
    box-shadow: 10px 10px 15px -10px;
}

.simpleButton {
    margin-top: 10px;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    background: skyblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    transition: .3s;
}
.simpleButton:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}