@charaset "utf-8";

#container {
    width: 800px;
    margin: 0 auto;
}
/* 開発しやすいよう色分け */
#container { background: #ccc; }
#header { background: #cccfff; }
#gnav { background: #ffe4b5; }
main { background: #e6e6fa; }
#sideber { background: #eee8aa; }
#footer { background: #ffcccc; }


main {
    width: 550px;
    float: left;
}
#sideber {
    width: 230px;
    float: right;
}
#footer {
    clear: both;
}
/* global navigation */
#gnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#gnav li {
    float: left;
    width: 140px;
    background: #8c765a;
    margin: 0 0.5em 0 0;
    text-align: center;
    border: 2px solid #65543e;
}
#gnav li a {
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 2em;
}
#gnav li a:hover {
    background: #a21212;
}
