@charaset "utf-8";

html {
    height: 100%;
}
body {
    margin: 0 auto;
    height: 100%;
    font-family: Verdana, Arial;
    font-size: 14px;
}
body > #container {
    height: 100%;
}
#container {
    min-height: 100%;
    height: 100%;
    width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}
/* for_dev */
#container { background: #fff; }
#header { background: #cccfff; }
/* #gnav { background: #ffe4b5; } */
/* main { background: #F3D8CB; } */
#sideber { background: #eee8aa; }
#footer { background: #ffcccc; }

/* ヘッダー -カルーセル- */
#hGallery {
    margin-bottom: 10px;
}
.gallery {
    position: relative;
    width: 800px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}
.galleryRoad {
    position: absolute;
    height: auto;
}
.gallery li {
    width: 800px;
    height: 300px;
    float: left;
    position: relative;
}
.gallery li img {
    width: 100%;
    height: auto;
}
.gNext {
    margin-top: -16px;
    position: absolute;
    top: 50%;
    right: 10px;
}
.gPrev {
    margin-top: -16px;
    position: absolute;
    top: 50%;
    left: 10px;
}

/* メインコンテンツ */
main {
    width: 550px;
    float: left;
    margin-bottom: 15px;
}
/* 各コンテンツ */
section {
    width: 540px;
    margin: 5px;
    border: 1px solid #000;// for_dev
}
#sideber {
    width: 230px;
    float: right;
}
/* サイドバー */
.sideSection {
    width: 210px;
    margin: 10px;
}
#gnav li {
    float: left;
    width: 120px;
    background: #ffcc33;
    margin: 0 0.2em 0 0;
    border-radius: 8px;
    text-align: center;
    border: 2px solid #65543e;
}
#gnav li a {
    display: block;
    color: #660000;
    text-decoration: none;
    line-height: 2em;
}
#footer {
    clear: both;
}
/* header of main contents */
/* リボン的な */
.cHeader {
    width: 450px;
    position: relative;
    color: #111;
    background: #ffff66;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin: 10px 20px 10px -10px;
    padding: 14px 5px 10px 50px;
    border-radius: 22px 0 0 22px;
}
/* 丸印 */
.cHeader:before {
    content: "";
    position: absolute;
    background: #ffffba;
    top: 50%;
    left: 14px;
    margin-top: -10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #777 inset;
}
/* リボン部分 */
.cHeader:after {
    content: "";
    position: absolute;
    top: 0;
    right: -22px;
    height: 0;
    width: 0;
    border: 21px solid #ffff66;
    border-right-color: transparent;
}
/* 今月のおすすめ */
#recommendList {
    width: 100%;
    /* min-width: 660px; */
    margin: 0;
    padding: 10px 0 10px;
    /* list-style-type: none; */
}
#recommendList li {
    width: 50%;
    float: left;
}
#recommendList dl {
    margin: 0 0 0 10px;
    font-size: 90%;
}
/* 写真エリア */
#recommendList dt img {
    height: 170px;
    width: 230px;
}
/*  キャプションエリア */
#recommendList dd {
    width: 230px; /* 写真のwidthに合わせる */
    text-align: center; /* 写真の中央に表示 */
    margin: 0 0 3px;/* 上 左右 下 */
}
/* 写真の加工・差込み風 */
.picFrame {
    display: inline-block;
    position: relative;
    overflow: hidden; /* 不要部分を消す */
    padding: 6px; /* 6pxだけは写真からはみ出す */
}
.picFrame img {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.picFrame:before,
.picFrame:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 97px;
    height: 50px;
    background: #fff; /* ※ 背景色に合わせて変更 */
    transform: rotate(-30deg);
}
/* 左上 */
.picFrame:before {
    box-shadow: 0 10px 8px -12px rgba(0, 0, 0, 0.8);
    top: -30px;
    bottom: auto;
    right: auto;
    left: -26px;
}
/* 右下 */
.picFrame:after {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.7);
    top: auto;
    bottom: -28px;
    right: -25px;
    left: auto;
}
