/**
 * CSSでパララックス(position: sticky)
 * https://www.webprofessional.jp/js-library-scrollreveal-2/
 * 仕様がまだ草案（Working Draft）の段階なので、注意
 */

/* simple reset */
* {
    margin: 0;
    padding: 0;
    border: none;
}
/**
 * 基本設定
*/
body {
    font-family: 'Do Hyeon', calibri, arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: black;
}
#about main {
	margin-top: 100px;/* for navigation */
}
#about .mainContents {
	position: relative;
}
a {
    color: #795548;
    text-decoration: none;
    opacity: 1;
}
a:hover {
    opacity: 0.7;
}
/* Web font "Chewy" */
.Chewy { 
    font-family: 'Chewy', cursive;
}
.Chewy a {
	color: white; 	
    font-size: 200%;
}
#about h2 {
	background: #795548;
	color: #fff;
	z-index: 10;
	padding: 20px;
	/* margin-bottom: 15px; */
	position: -webkit-dticky;
	position: sticky;
	top: 150px;
}
#about h2:after {/* delete border line */
	border-bottom: none;
}


/**
 * Parallax
*/
.block {
	/* width: 100%; */
	/* height: 50vh; */
	display: flex;
	/* align-items: center; */
	justify-content: center;
	position: sticky;
	top: 215px;
	padding: 2%;
	margin: 0 auto;
	background: #fff;
}
.img {
	background: #aaa;
	height: 50vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
p {
	display: inline-block;
	font-size: 120%;
	font-family: 'Great Vibes', cursive;
	padding: 0;
	margin: 0;
	line-height: 150%;
}
.block-one {
	background: #fff;
	z-index: 1;
}
#about1 .block-two {
	/* background: #85937a; */
	background-image: url("./../images/about_01.jpg");
	z-index: 2;
}

#about2 .block-two {
	/* background: #85937a; */
	background-image: url("./../images/007_oyaki.jpg");
	z-index: 2;
}
#about3 .block-two {
	/* background: #85937a; */
	background-image: url("./../images/008_otameshi_set_03.jpg");
	z-index: 2;
}
.block-three {
	/* background: #749dad; */
	z-index: 3;
}

@supports (position: sticky) or (position: -webkit-sticky) {
	.block-three {
		background: none;
	}
}
.block-three p {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 50%;
	background: #fff;
	color: #212e32;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.block-four {
	/* background: #747ead; */
	z-index: 4;
}
.block-five {
	/* background: #ad74a6; */
	z-index: 5;
}




































