.toggleElement {
	display: none;
}
#btnToggle {
	width: 20vw;
	margin: 0.5%;
    color: #01018a;
    cursor: pointer;
}
#btnToggle:hover {
	opacity: 0.8;
}
#contact #mainForm {
	margin-top: 30px;
}
dl,dt,dd {
	margin: 0;
	padding: 0;
}
input, textarea {
	border: 1px solid #000;
}
#contact dl {
	overflow: hidden;
	width: 100%;
}
#contact dl dt,
#contact dl dd {
	font-size: 120%;	
	margin: 0;
	padding: 10px;
	border-top: 1px dotted #ccc;
	line-height: 2;
}
#contact dl dt {
	float: left;
    clear: left;
	width: 30%;
}
#contact dl dt span {
	color: red;
	font-weight: bold;
}
#contact dl dd {
	float:left;
	width: 65%;
}

#contact dl dd input[type="text"],
#contact dl dd input[type="email"]
 {
	padding: 1px 0;
    width: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
    font-size: 13px;
    -webkit-appearance: none;
}
/* Label for Gender */
#contact dl dd label {
	position: relative;
	padding: 5px 5px 5px 25px;
	margin: 0 5px 0 -25px;
	z-index: 1;
}
/* Selector */
#contact dl dd select {
    background-color: #fff;
    border: 1px solid #ccc;	
    font-size: 100%;
	padding: 3px 5px;
}
#contact dl dd textarea {
	resize: none;
	padding: 10px;
    width: 90%;
	height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 13px;
    -webkit-appearance: none;
	line-height: 1.5;
}
/**
* Button for submit
*/
#contact .submit {
	clear: both;
	text-align: center;
	margin-top: 30px;
}
#contact input[type="submit"]:hover {
	opacity: 0.8;
}
#contact .submit input {
	cursor: pointer;
	letter-spacing: 2px;
	padding: 10px 100px;
    background: #642200;
    border: 0;
    font-size: 130%;
    color: #fff;
}
/**
* Validation
* ref: https://liginc.co.jp/345545
*/
#contact .validate:invalid
{
    border: 2px solid #fcc;
}
/* Error message */
#contact span.errorMsg {
    font-size: 100%;
    font-weight: normal;
    color: #FF4040;
    display: block;
    margin: 0;
}
/**
* Confirm dialog box
* ref: https://www.sejuku.net/blog/28217
*/
.dialog {
	width: 60%;
	max-width: 900px;
	margin: auto;
	margin-top: 40vh;
	text-align: center;
	border: 1px solid #aaa;
	box-shadow: 2px 2px 4px #888;
	background-color: white;
	z-index: 10;
	
	/* hidden firstly */
	display: none;
	/* display on front of window */
	position: fixed;
	top: -25%;
    left: 25%;
}
.dialog h3 {
	font-size: 150%;
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1),
               -1px -1px 1px rgba(255, 255, 255, .7);
	padding: 20px 0;
    background-color: #642200;

}
/* contents */
#contactFormDialog dl {
	width: 80%;
	padding: 5% 10%;
	text-align: left;
	overflow: hidden;
}
#contactFormDialog dl dt {
	width: 30%;
}
#contactFormDialog dl dd {
	width: 60%;
}
.dialog button {
	cursor: pointer;
	letter-spacing: 2px;
	padding: 10px;
	margin: 0 3% 5% 3%;
	background-color: #642200;
	border: 0;
	border-radius: 5px;
	font-size: 130%;
	color: white;
}
.dialog button:hover {
	opacity: 0.8;	
}
.show {
	display: block;
}



























