/* simple reset */
* {
    margin: 0;
    padding: 0;
    border: none;
}
/**
 * 基本設定
*/
body {
    font-family: 'Do Hyeon', calibri, arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: black;
}
h2 {
	font-size: 25px;
	padding: 5px 0;
}
.Chewy {
     font-family: 'Chewy', cursive;
}
a {
    color: white;
    text-decoration: none;
    font-size: 200%;
    opacity: 1;
}
a:hover {
    opacity: 0.7;
}
/* スローガン */
#slogan {
	font-size: 350%;
	color: white;
	text-align: center;
	padding: 2% 0 6% 0;
	/* text-shadow:0 2px 0 #888, 0 3px 0 #888, 0 4px 5px #333; */
	text-shadow: 2px 2px 5px #000;
	user-select: none;
}
/**
 * ヘッダー
*/
.slideshow {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.slideshow .item {
    width: 100%;
    height: 100%; /* or auto */
    position: absolute;
    top: 0;
    display: none;
    background-size: cover;
    background-position: center center;
}
.in {
    transform: scale(1);
    z-index: 2;
}
.out {
    transform: scale(1.25);
    transition: 4s;
    z-index: 1;
}
.wrap {
    position: relative;
}
#hContent {
    width: 60vw;
    position: absolute;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    z-index: 10;
}
#hContent nav ul {
    display: flex;
    justify-content: space-around;
}
#hContent #logo {
	width: 150px;
	height: 150px;
    display: block;
    margin: 20px auto;
}
/**
* main content
*/
.mainContents {
	width: 100%;
	height: auto;
	border: 1px solid red;
	padding: 2% 5%;
}
.mainContents p {
	font-size: 120%;
	line-height: 150%;
}

/* call to action */
.callToAction {
    margin: 10px 0;
	display: flex;
}
.callToAction section {
	display: table;
	width: 40%;
    height: auto;
	padding: 5%;
}
.ship {
	background: url("../images/sample_callToAction_2.jpg") no-repeat center center;
	background-color: #fff;
}
.shopArea {
	background: url("../images/sample_callToAction_1.jpg") no-repeat center center;
	background-color: #fff;	
}
.callToAction a {
	display: table-cell;
    width: 50vw;
    height: 40vh;
    color: #795548;
    background: rgba(255, 255, 255, .6);
	vertical-align: middle;
}
.callToAction a p {
    padding: 0.4em 0.8em;
    font-size: 110%;
    color: #795548;
    text-align: center;
    line-height: 0.9em;
}
.btnMore {
	color: #795548;
	border: solid 2px;
	border-radius: 10px;
	padding: 0.2em 0.4em;
	width: 50%;
	margin: auto;
}

/* about */
#about {

}
#about .btnMore {
	display: inline-block;
	width: 20%;
	margin-top: 10px;
	text-align: center;
	padding: 0.4em 0.8em;
	background-color: #795548;
	color: white;
	
}
#about .btnMore:hover {
	background-color: white;
	color: #795548;	
	opacity: 1;
}
/**
* function 
*/
/* コンテンツをふわっと表示 */
.fadein {
	opacity: 0.1;
	transform: translate(0, 50px);
	transition: all 2000ms;
}
.scrollin {
	opacity: 1;
	transform: translate(0, 0);
}
















