/* simple reset */
* {
    margin: 0;
    padding: 0;
    border: none;
}
/**
 * 基本設定
*/
/* ウェブサイト上の画像やテキストをコピーさせたくない */
h1, h2, h3, h4, p, span, img, ul, ol { 
	user-select: none;
}

body {
    font-family: 'Do Hyeon', calibri, arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: black;
}
h2 {
	font-size: 35px;
	padding: 25px 0 5px;
}
h3 {
	font-size: 25px;
}
h4 {
	font-size: 18px;
}
a {
    color: #795548;
    text-decoration: none;
    opacity: 1;
}
a:hover {
    opacity: 0.7;
}
/* Web font "Chewy" */
.Chewy { 
    font-family: 'Chewy', cursive;
}
.Chewy a {
	color: white; 	
    font-size: 200%;
}
/* スローガン */
#slogan {
	font-size: 350%;
	color: white;
	text-align: center;
	padding: 2% 0 6% 0;
	/* text-shadow:0 2px 0 #888, 0 3px 0 #888, 0 4px 5px #333; */
	text-shadow: 2px 2px 5px #000;
}
/**
 * ヘッダー
*/
.slideshow {
    position: relative;
	width: 100%;
    height: 100vh;
    overflow: hidden;
}
.slideshow .item {
    width: 100%;
    height: 100%; /* or auto */
    position: absolute;
    top: 0;
    display: none;
    background-size: cover;
    background-position: center center;
}
.slideshow #slideItem1 {
	background-image: url(./../images/001_26-1.jpg);
}
.slideshow #slideItem2 {
	background-image: url(./../images/002_01_26-1.jpg);
}
.slideshow #slideItem3 {
	background-image: url(./../images/003_20160824130827.jpg);
}

.in {
    transform: scale(1);
    z-index: 2;
}
.out {
    transform: scale(1.25);
    transition: 4s;
    z-index: 1;
}
.wrap {
    position: relative;
}
#hContent {
    width: 60vw;
    position: absolute;
	transform: translate(25vw, 25vh);/* for IE */
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    z-index: 3;
}
#hContent nav ul,
#fixedNav ul {
    display: flex;
    justify-content: space-around;
}
#hContent #logo {
	width: 150px;
	height: 150px;
    display: block;
    margin: 20px auto;
}
/**
 * 固定ナビゲーション(excent top page)
 */
.mainNav {
	width: 100%;
	height: 100px;
	position: relative;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.6);
	/* overflow: hidden; */
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.drawer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: 100px;
	padding: 0 1em;
} 
.drawer a {
	margin: auto;
}
.drawer img {
	width: 90px;
	height: auto; 
	margin: 5px auto;
}
/* Hamburger */
.nav-bar_toggle {
	z-index: 9999;
}
.navbar_toggle span {
	position: relative;
	display: block;
	height: 4px;
	width: 40px;
	background: #5c6b80;
	border-radius: 4px;
}
.navbar_toggle span:nth-child(1) {
	top: 0;
}
.navbar_toggle span:nth-child(2) {
	margin: 8px 0;
}
.navbar_toggle span:nth-child(3) {
	top: 0;
} 
/* OPEN時の動き */
.navbar_toggle.open span:nth-child(1) {
	transform: translateY(12.5px) rotate(-45deg);
}
.navbar_toggle.open span:nth-child(2) {
	opacity: 0;
	animation: flyaway 0.25s;

}
@keyframes flyaway {
    from {
		left: 0; opacity: 1;
	}
    to {
		left: -800%; opacity: 0;
	}
}
.navbar_toggle.open span:nth-child(3) {
	transform: translateY(-12.5px) rotate(45deg);
}
/* Navigation */ 
.mainNav {

}
.mainNav .menu {
	/* transform: scale(0) translateX(100%); */
	transform: translateX(-100%);
	transition: 0.5s ease-in;
	z-index: 1000;

}
.mainNav .menu ul li {
	padding: 1.5em;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.mainNav .menu ul li a {
	color: #fff;
	text-decoration: none;
}
/* OPEN時の動き */
.mainNav .menu.open {
	/* transform: scale(1) translateX(0); */
	transform: translateX(0);
	overflow-y: auto;/* only for IE */
	background: rgba(0, 0, 0, 0.7);
}
/* navがスクロールして特定のポイントで固定表示 */
.is-fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
}


/**
* main content
*/
.mainContents {
	width: 90%;
	height: auto;
	/* border: 1px solid red; for debug */
	padding: 2% 5%;
}
.mainContents p {
	font-size: 110%;
	line-height: 150%;
	color: black;
}

/* call to action */
.callToAction {
	padding: 0;
}
.callToAction section {
	display: table;
	width: 40%;
    height: auto;
	padding: 0 5%;
}
.ship {
	background: url("../images/sample_callToAction_2.jpg") no-repeat center center;
	background-color: #fff;
}
.shopArea {
	background: url("../images/sample_callToAction_1.jpg") no-repeat center center;
	background-color: #fff;	
}
.callToAction a {
	display: table-cell;
    width: 50vw;
    height: 40vh;
    color: #795548;
    background: rgba(255, 255, 255, .6);
	vertical-align: middle;
}
.callToAction a p {
    padding: 0.4em 0.8em;
    font-size: 200%;
    color: #795548;
    text-align: center;
    line-height: 0.9em;
}
.btnMore {
	color: #795548;
	border: solid 2px #795548;
	border-radius: 10px;
	padding: 0.2em 0.4em;
	width: 50%;
	margin: auto;
}

/* about */
#about {
	/* background: url("../images/bg_about.jpg") repeat-x left top; */
}
#about .btnMore {
	display: inline-block;
	width: 20%;
	margin-top: 10px;
	text-align: center;
	padding: 0.4em 0.8em;
	background-color: #795548;
	color: white;	
}
#about .btnMore:hover {
	background-color: white;
	color: #795548;	
	opacity: 1;
}
.text {
	margin-top: 15px;
}
/* 新着情報 What's new */
#newInfo {
	background: url("../images/bg_news.jpg") repeat left top;
}

#newInfo h3 {
	letter-spacing: 2px;
	text-align: center;
	padding: 10px 0;

}
#newInfo h3 span {
	border-bottom: 1px dotted #333;	
}
.newsItem {
	display: flex;
	width: 100%;
	height: 80px;
	align-items: center;
	margin-top: 5px;
	background-color: #fff;
	border: 1px solid #eee;
	box-sizing: border-box;
	padding: 3px 20px 0 0;
}
.newsItem img {
	width: 80px;
	height: 80px;
}
.newsItem .newsText {
	margin-left: 10px;
}
/**
 * フッター
 */ 
footer {
	font-size: 80%;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	background-color: #313131;
}
footer address {
	color: #fff;
	letter-spacing: 0.3em;
	font-style: normal;
}

/**
* function 
*/

/**
 * レスポンシブサイト(2カラム、3カラム)
 * https://www.kerenor.jp/flexbox-responsive-layout-onepage/
 * using for "call to action" and "news" section
 */
.col-item {
	/* display: flex; */
	padding: 1em;
	justify-content: center;
}
.row-2 .col-item.item-1 {
	/* background-color: #eee; */
}
.row-2 .col-item.item-2 {
	/* background-color: #e5e5e5; */
}
.row-3 .col-item.item-1 {
	/* background-color: #ddd; */
}
.row-3 .col-item.item-2 {
	/* background-color: #d5d5d5; */
}
.row-3 .col-item.item-3 {
	/* background-color: #ccc; */
}

/* コンテンツをふわっと表示 */
.fadein {
	opacity: 0;
	transform: translate(0, 50px);
	transition: all 2000ms;
	align-items: center;
}
.scrollin {
	opacity: 1;
	transform: translate(0, 0);
}

/**
 * for Desktop PC
 */
	@media screen and (min-width: 768px) {
		/* Design of main navigation except for top page */
		.mainNav {
			display: flex;
			flex-direction: row;
		}
		.navbar_toggle {
			display: none;
		}
		.mainNav .menu {
			width: 100%;
			transform: translateX(0);
			margin: auto;
		}
		.mainNav .menu ul {
			height: 70px;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			align-items: center;
		}
		.mainNav .menu ul li {
			padding: 0 1em;
			border-bottom: none;
		}
		.mainNav .menu ul li a {
			color: #000;
		}
		
		/* レスポンシブサイト(2カラム、3カラム) */
		.flex-container {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.col-item {
			height: 300px;
		}
		.row-2 .col-item {
			width: 50%;
		}
		.row-3 .col-item {
			width: 33.3%;
		}
	}

/**
 * for タブレット
 * Show up Hamburger Menu (SCREEN < 768px)
 */
	@media screen and (max-width: 768px) {
		.drawer a {
			margin: 0;
		}
		.drawer img {
			width: 50px;
		}
		/* call to action */
		.callToAction {
		
		}	
		.callToAction section {
			width: 90%;
		}
	}

	/* for mobile */
	@media screen and (max-width: 480px) { 
		/* ヘッダー */
		#slogan {
			font-size: 220%;
		}
		.Chewy ul {
		
		}
		.Chewy li {
			padding: 0 1%;
		}
		.Chewy a {
			font-size: 100%;
		}
		/* contents */
		.callToAction a p {
			font-size: 100%;
		}
		









	}